body {
  background-color: #f4f4f4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
li {
  list-style: none;
}
.card img {
  height: 200px !important;
}
.list {
  margin-left: -30px;
}
p {
  font-size: 21px;
  color: rgb(59, 58, 58) !important;
  font-family: tahoma;
}
span {
  background-color: rgb(70, 69, 69);
}
@media (max-width: 768px) {
  .each-card {
    margin-left: 30px;
  }
}
